.custom-input {
    background-color: white;
    color: #3f3c3c; 
  }
  
  .custom-input .MuiOutlinedInput-root {
    border-color: var(--dark-gold); 
  }
  
  .custom-input .MuiOutlinedInput-root:hover fieldset {
    border-color: var(--dark-gold); 
  }
  
  .custom-input .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--dark-gold);  
  }

  /* Custom Checkbox Styles */
.custom-checkbox {
    color: white; 
  }
  
  .custom-checkbox.Mui-checked {
    color: white; 
  }
  
  .custom-checkbox.Mui-checked + .MuiFormControlLabel-label {
    color: black; 
  }

  /* Country Dropdown Container */
.country-dropdown-container {
    height: 56px; 
    display: flex;
    align-items: center;
  }
  
  .country-dropdown {
    flex: 1; 
    height: 100%; 
    width: 75%;
    padding: 10px;
  }